*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    position: relative;
}

body{
    box-sizing: border-box;
    font-family: Arial;
    background-color: #DCEBF7;
    margin: 0;
    transition: ease-in;
}
a{
    text-decoration: none;
    color: white;
}

#Logo{
    color: #a4b3c4;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 30px;
}

#voltar{
    background-color: #2F5B89;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 13.2px;
    width: 120px;
    align-items: center;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    margin-left: 20px;
}

#Barra{
    background-color:#2F5B89;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    display: flex;
    gap: 20px;
    top:0;
    font-size: 17px;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
}

#Barra #título {
    font-size: 10px;
    text-align: center;
    color: #D3D3D3;
}

#Barra p{
    margin-top: 0px;    
}

#Barra h1{
    margin-bottom: 0px;
}

#Cabeçalho{
    background-color: #a4b3c4;
    padding: 40px;
    margin-top: 60px;
    text-align: center;
    color: #153151;
}
.IndexSec{
    background-color: #D3D3D3;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    border-left: 4px solid #153151;
}
.IndexSec h1{
    font-size: 25px;
}
.IndexSec p{
    margin: 30px;
}
.IndexSec:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 5px 5px 10px grey;
}
#fotosindex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.IndexImg{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 0 0 10px 0;
}
.IndexImg:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 5px 5px 10px grey;
}
footer{
    background-color: #153151;
    padding: 10px;
    color: white;
    text-align: center;
}
.ContainerPaíses{
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.País{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #D3D3D3;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid #153151;
}

.País div {
    flex: 1;
}

.País:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 5px 5px 10px grey;
}
.País img{
  width: 230px;
  height: 200px;
  border-radius: 7px;
}